.jumbotron {
  height: 391px;
  background: #1781D2 0% 0% no-repeat padding-box;
  opacity: 0.86;
  width: 100%;
}

.jumbotron h1{
  height: 87px;
  color: #FFFFFF;
  text-transform: uppercase;
  opacity: 1;
}

.jumbotron p{
  text-align: center;
  color: #FFFFFF;
  opacity: 1;
}

.jumbotron input{
  top: 291px;
  left: 720px;
  width: 481px;
  height: 43px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px;
  border-radius: 4px;
  opacity: 1;
}

.jumbotron i{
  position: absolute;
  float: right;
  color: rgb(163, 159, 159);
  margin-top: 38px;
  margin-left: 460px;
}

.jumbotron button{
  background-color: #FF9052;
  color: #ffffff;
  border: 1px;
  border-radius: 4px;
  width: 30%;
  box-shadow: 1px 5px 10px #827D7D;
}

.rdtitle{
  margin-top: 10%;
}

.cards{
  margin-top: 5%;
}

.card{
  width: 21rem;
}

.card-body h5{
  font-size: 12px !important;
  float: left;
}

.card-body a{
  border-radius: 5px;
  float: right;
  width: 91px;
  text-decoration: none;
}

.ftbtn{
  
    background-color: #FF9052;
    color: #ffffff;
    border: 1px;
    border-radius: 4px;
    width: 30%;
    box-shadow: 1px 5px 10px #827D7D;
  
}

@media screen and (max-width: 1199px) {
  
  .card{
    width: 18rem;
  }
  
  .card-body h5{
    font-size: 11px !important;
    float: left;
  }
  
  .card-body a{
    width: 72px;
    font-size: 12px;
  }
}

@media screen and (max-width: 991px){
  .card{
    margin-right: 42px;
  }
}

@media screen and (max-width:767px) {

.card{
  margin-right: 0px;
  width: 15rem;
  }

.card-body h5{
  font-size: 8.88px !important;
  float: left;
}
  
.card-body a{
  width: 58px;
  font-size: 9px;
}

.jumbotron h1{
  font-size: 35px;
}

.jumbotron p{
font-size: 13px;
}

.jumbotron i{
  margin-left: 450px;
}

.jumbotron button{
  width: 40%;
}

}

@media screen and (max-width:575px) {

  .jumbotron h1{
    margin-top: 34px;
  }

  .jumbotron button{
    width: 37.4%;
  }

  .card{
    margin-left: 10%;
  }

  }

@media screen and (max-width:539px) {

  .card{
    width: 100%;
    margin-left: 10%;
  }

  }

@media screen and (max-width:496px){

.navbar{
  width: 496px !important;
}

.jumbotron {
  width: 575px;
}

.jumbotron h1{
  height: 60px;
}

.jumbotron input{
  width: 70%;
}

.jumbotron i{
  margin-left: 360px;
}

.rdtitle{
  font-size: 15px;
  margin-left: 20%;
}

.card{
  margin-left: 15%;
}
  
}

@media screen and (max-width:451px) {

  .jumbotron button{
    width: 50%;
  }

  .rdtitle{
    margin-left: 37%;
  }

  .card{
    margin-left: 20%;
  }
  
}

@media screen and (max-width:369px) {
  
  .rdtitle{
    margin-left: 45%;
  }

  .card{
    margin-left: 25%;
  }
  
  .ftbtn{
    width: 50%;
  }
}

@media screen and (max-width:367px) {

  .rdtitle{
    margin-left: 50%;
  }

  .jumbotron button{
    width: 60%;
  }
  
  }

  @media screen and (max-width:360px) {

    .rdtitle{
      margin-left: 55%;
    }
  
    .card{
      margin-left: 33%;
    }

    .ftbtn{
      margin-left: 57%;
    }
    
    }