.jumbotron {
  height: 391px;
  background: #1781D2 0% 0% no-repeat padding-box;
  opacity: 0.86;
}

.jumbotron h1{
  height: 87px;
  color: #FFFFFF;
  text-transform: uppercase;
  opacity: 1;
}

.jumbotron p{
  text-align: center;
  color: #FFFFFF;
  opacity: 1;
}

.jumbotron input{
  top: 291px;
  left: 720px;
  width: 481px;
  height: 43px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px;
  border-radius: 4px;
  opacity: 1;
}

button{
  background-color: #FF9052;
  color: #ffffff;
  border: 1px;
  border-radius: 4px;
  width: 30%;
  box-shadow: 1px 5px 10px #827D7D;
}

.rdtitle{
  margin-top: 10%;
}

.cards{
  margin-top: 5%;
}

.card{
  width: 21rem;
}

.card-body h5{
  font-size: 13px !important;
  float: left;
}

.card-body a{
  border-radius: 5px;
  float: right;
  width: 91px;

}